<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}
    <div class="container-fluid home-slider">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/4.jpg' %}" class="d-block w-100" alt="Первая картинка">
        <div class="carousel-caption d-none d-md-block">
          <h5>Elite house. Новогодняя акция ! 700$ за 1м</h5>
          <p>Внимание акция ограничена</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/10.jpg' %}" class="d-block w-100" alt="Вторая картинка">
        <div class="carousel-caption d-none d-md-block">
          <h5>SPA Sumbule</h5>
          <p>Ты этого достойна</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/12.jpg' %}" class="d-block w-100" alt="Третья картинка">
        <div class="carousel-caption d-none d-md-block">
          <h5>Надоело дышать смогом?</h5>
          <p>Переезжай зимовать в Турцию! Квартиры в Алании от 200$</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</body>
</html>